<h1>Reservation</h1>
  <mat-stepper linear #stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon >check</mat-icon>
    </ng-template>

    <mat-step [stepControl]="firstFormGroup" >
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select Sitting</ng-template>
        <mat-form-field>
          <mat-label>Amount of guests</mat-label>
          <input type="number" min="1" minlength="1" matInput formControlName="amountOfGuests" >
        </mat-form-field>

        <mat-form-field appearance="fill" class="date">
          <mat-label>Choose a date</mat-label>
          <input matInput formControlName="date" [matDatepickerFilter]="myFilter" [matDatepicker]="datepicker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button></button>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button (click)="selectDate()" color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <div [ngClass]="{'d-none': !dateSelected}" >
          <label class="example-margin">Select Sitting:</label>
          <br/>
          <mat-chip-listbox selectable="true" multiple="false" formControlName="sitting" [ngClass]="{ 'is-invalid': f.pick.errors }" >
            <mat-chip-option *ngFor="let sitting of (sittingTypeOb$ | async)" value="{{sitting}}" 
            [value]="sitting" 
            [disabled]="false"
            (selectionChange)="selectSitting($event)"
            >{{sitting}}</mat-chip-option>
          </mat-chip-listbox>

          <!--<mat-radio-group formControlName="sitting" (change)="selectSitting()" [ngClass]="{ 'is-invalid': f.pick.errors }" >
            <mat-radio-button class="p-1" *ngFor="let sitting of (sittingTypeOb$ | async)" value="{{sitting}}" 
            [value]="sitting" 
            [disabled]="false"
            >{{sitting}}</mat-radio-button>
          </mat-radio-group>-->
          <div *ngIf="dateSelected && f.sitting.errors" class="invalid-feedback">
            <div *ngIf="f.sitting.errors.required">Sitting is required</div>
          </div>
        </div>

        <div *ngIf="sittingSelected">
          <label class="example-margin">Select Time:</label>
          <br/>
          <mat-radio-group formControlName="pick" [ngClass]="{ 'is-invalid': f.pick.errors }" >
            <mat-radio-button class="p-1" *ngFor="let time of (sittingTimesOb$ | async)" value="{{time}}" 
            [value]="time" 
            [disabled]="false"
            >{{time}}</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="sittingSelected" class="invalid-feedback">
            <div *ngIf="sittingSelected">Time is required</div>
          </div>
        </div>
      
        <div>
          <button mat-button matStepperNext >Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" >
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your details</ng-template>

        <mat-form-field appearance="fill">
          <mat-label>Fist Name</mat-label>
          <input matInput formControlName="firstName" placeholder=""
                 required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder=""
                 required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="example@google.com"
                 required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" placeholder="04233343434"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Confirm Booking</ng-template>
      <div>
        <p><b>Name: </b>{{f2.firstName.value + " " + f2.lastName.value}}</p>
        <p><b>Email: </b>{{f2.email.value}}</p>
        <p><b>Phone Number: </b>{{f2.phoneNumber.value}}</p>
        <p><b>Guests: </b>{{f.amountOfGuests.value}}</p>
        <p><b>Date and time: </b>{{getDate() + " at " + f.pick.value + " for " + f.sitting.value}}</p>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button >Book Now</button>
      </div>
    </mat-step>
  </mat-stepper>